<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEZs1egoLpOlGXS06p-WqIv0NL1vctUuY</string>
	<key>GCM_SENDER_ID</key>
	<string>1098470485769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dehydratormobile</string>
	<key>PROJECT_ID</key>
	<string>dehydrator-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dehydrator-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098470485769:ios:d97c0bdd431e97dd44edd8</string>
</dict>
</plist>